<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generates the DAL DataProvider class." %>
<%@ Property Name="SourceTable" Type="SmartCode.Model.Mapping.CS.TableSchema" Category="Context" Description="Table that the mapping file is based on" %>
<%@ Property Name="InsertKeyword" Type="System.String" Default="Add" Category="Style" Description="Suffix to use for all generated INSERT stored procedures." %>
<%@ Property Name="UpdateKeyword" Type="System.String" Default="Update" Category="Style" Description="Suffix to use for all generated UPDATE stored procedures." %>
<%@ Property Name="DeleteKeyword" Type="System.String" Default="Delete" Category="Style" Description="Suffix to use for all generated DELETE stored procedures." %>
<%@ Property Name="SelectKeyword" Type="System.String" Default="Get" Category="Style" Description="Suffix to use for all generated SELECT stored procedures." %>
<%@ Property Name="ListKeyword" Type="System.String" Default="GetAll" Category="Style" Description="Suffix to use for all generated SELECT stored procedures." %>
<%@ Property Name="Namespace" Type="System.String" Default="YourCompany" Category="Style" Description="Used to generate the Namespace declaration." %>
<%@ Property Name="ModuleName" Type="System.String" Default="" Category="Style" Description="" %>
<%@ Property Name="CompanyName" Type="System.String" Default="MyCompany" Category="Style" Description="Used to generate the Namespace declaration." %>
<%@ Assembly Name="SmartCode.Model.Mapping" %>
<%@ Import Namespace="SmartCode.Model.Mapping.CS" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>

Imports System
Imports DotNetNuke

Namespace <%= Namespace %>.Modules.<%=ModuleName%>

    ''' -----------------------------------------------------------------------------
    ''' <summary>
    ''' An abstract class for the data access layer
    ''' </summary>
    ''' <remarks>
    ''' </remarks>
    ''' <history>
    ''' </history>
    ''' -----------------------------------------------------------------------------
    Public MustInherit Class DataProvider

#Region "Shared/Static Methods"

        ' singleton reference to the instantiated object 
        Private Shared objProvider As DataProvider = Nothing

        ' constructor
        Shared Sub New()
            CreateProvider()
        End Sub

        ' dynamically create provider
        Private Shared Sub CreateProvider()
            objProvider = CType(Framework.Reflection.CreateObject("data", "<%= Namespace %>.Modules.<%=ModuleName%>", ""), DataProvider)
        End Sub

        ' return the provider
        Public Shared Shadows Function Instance() As DataProvider
            Return objProvider
        End Function

#End Region

#Region "Abstract methods"


	Public MustOverride Function <%= GetMethodName(ModuleName, SelectKeyword) %>(<%= GetPrimaryKeyParameters(SourceTable, true, "vb").Trim()%><%= GetModuleIdParameter(SourceTable, true, true, "vb") %>) As IDataReader

<%
string ColumnName = "";

for( int i = 0; i < SourceTable.NonPrimaryKeyColumns.Count; i++ )
{
	if(SourceTable.NonPrimaryKeyColumns[i].ExtendedProperties["CS_Description"].Value.ToString().ToLower().StartsWith("get"))
	{
		ColumnName = SourceTable.NonPrimaryKeyColumns[i].Name;
%>
	Public MustOverride Function <%= GetMethodName(ModuleName, SelectKeyword, ColumnName) %>(<%= GetSelectByColumnNameParameter(SourceTable.NonPrimaryKeyColumns[i], true, true, "vb").Trim()%><%= GetModuleIdParameter(SourceTable, true, true, "vb") %>) As IDataReader

<%
	} // if
} // for
%>
	Public MustOverride Function <%= GetMethodName(ModuleName, ListKeyword, true) %>(<%= GetModuleIdParameter(SourceTable, true, false, "vb") %>) As IDataReader

	Public MustOverride Function <%= GetMethodName(ModuleName, InsertKeyword) %>(<%= GetNonPrimaryKeyParameters(SourceTable, true, false, "vb").Trim() %>) As Integer

	Public MustOverride Sub <%= GetMethodName(ModuleName, UpdateKeyword) %>(<%= GetPrimaryKeyParameters(SourceTable, true, "vb").Trim() %>, <%= GetNonPrimaryKeyParameters(SourceTable, true, false, "vb").Trim() %>)

	Public MustOverride Sub <%= GetMethodName(ModuleName, DeleteKeyword) %>(<%= GetPrimaryKeyParameters(SourceTable, true, "vb").Trim() %>)

#End Region

    End Class

End Namespace

<!-- #include file="%%DNN4%%CommonFunctions.cs" -->

